{% extends 'base.html' %}
{% load static %}


{% block page_title %} Favourite Posts {% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'artBlog/favouritepost.css' %}" />
{% endblock %}

{% block header %}
    <nav>
        <div id="favorite">
            <h1> Favorite Posts</h1>
        </div>
        <div id="right">
            <a href="{% url 'index-page' %}">HOME</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="section">
        {% for post in posts %}
            {% if post.slug in request.session %}
                <li><a href="{% url 'selected-post' post_slug=post.slug %}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </div>
{% endblock  %}